<mat-card class="example-card mb-3 mt-3 container" *ngFor="let product of (products | async )">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
            <img mat-card-image src="{{ product.imgUrl }}" alt="{{ product.name }}">
      </div>
      <div class="mr-3">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.id }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img mat-card-image src="{{ product.imgUrl }}" alt="{{ product.name }}">
    <mat-card-content>
      <p>
        {{ product.name }}: $ {{ product.price }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
